<%- include('./partials/head') %>
<div class="container-sm d-flex flex-column align-items-center">
  <img style="width: 100px; height: 100px; object-fit: contain;" src="http://localhost:8080/images/ejs.png">
  <a class="link my-4 p-1 border border-primary rounded" href="http://localhost:8080/">CARGAR NUEVO PRODUCTOS</a>
  <% if (hasProducts) { %>
    <h1>LISTA DE PRODUCTOS</h1>
    <% products.forEach(product => { %>
      <div class="border border-3 border-success row w-50 m-1 rounded d-flex align-items-center" style="height: 80px;">
        <p class="m-2 col"><%= product.title %></p>
        <p class="m-2 col"><%= product.price %></p>
        <img style="object-fit: contain;" class="col h-75" src="http://localhost:8080/images/<%=product.thumbnail%>" alt="product">
      </div>
    <% }); %>
  <% } else { %>
    <h1>NO HAY PRODUCTOS</h1>
  <% } %>
</div>